div.header h1 {
  color: rgb(41, 101, 241);
  font-weight: 800;
  text-shadow: 1px 2px 2px black;
  font-size: 3rem;
  font-weight: 800;
}

div#searchBox input {
  font: inherit;
  font-size: 1.2rem;
  border: 1px;
  outline: 0px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  /* width: 90%; */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
/* div#searchBox input:focus {
  box-shadow: 0 0 5px rgb(41, 101, 241);
} */
